
{% extends "layout.html" %}

{% block content %}
<svg  width="100%" height="100%" viewbox="{{ viewbox }}">
  <defs>
    {% for n in nodes %}
      {% set node = nodes[n] %}
      <radialGradient id="{{ n | slugify}}" xmlns:xlink="http://www.w3.org/1999/xlink" >
        {# <stop id="default-liar" offset="0%" stop-color="{{ colors[0] }}" /> #}

        {% for i in range(5) %}
          <stop offset="{{ (((node.rulings[:i+1]|sum) / node.numberOfRulings) * 100) - 0.5 }}%" stop-color="{{ colors[i] }}" />
          <stop offset="{{ (((node.rulings[:i+1]|sum) / node.numberOfRulings) * 100) + 0.5 }}%" stop-color="{{ colors[i] }}" />
        {% endfor %}

        <stop offset="100%" stop-color="{{ colors[5] }}" />
      </radialGradient>
    {% endfor %}
  </defs>

  {% for e in edges %}
    <line
      id="edge-{{ e.a._id | slugify }}-{{ e.b._id | slugify }}"
      class="edge {{e.a._id | slugify}} {{ e.b._id | slugify }}"
      data-subjecta="{{ e.a._id }}"
      data-subjectb="{{ e.b._id }}"
      x1="{{ e.a.x }}"
      y1="{{ e.a.y }}"
      x2="{{ e.b.x }}"
      y2="{{ e.b.y }}"
    />
  {% endfor %}

  {% for n in nodes %}
    {% set node = nodes[n] %}
    <circle
      id="node-{{ n | slugify }}"
      class="subject {{n | slugify}}"
      data-subject="{{ n }}"
      data-subjectslug="{{ n | slugify }}"
      data-rulings="{{ node.rulings|join(',') }}"
      cx="{{ node.x }}"
      cy="{{ node.y }}"
      data-defaultfill="{{ gradient(node.normalizedAverageRuling) }}"
      r="{{ node.radius }}"
      title="{{ n }}"
      fill="{{ gradient(node.normalizedAverageRuling) }}"
    >
      <title>{{ n }}</title>
    </circle>
  {% endfor %}
</svg>

{% endblock %}

