
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}

      Liar

      {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome4/css/font-awesome.min.css') }}">
    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block css %}{% endblock %}

  </head>
  <body class="{% block body_class %}{% endblock %}">
    <svg width="100%" height="100%" viewbox="{{ viewbox }}">
    {% for n in nodes %}
    {% set radius = (n.numberOfRulings|sqrt) %}
    <circle cx="{{ points[loop.index0][0] }}" cy="{{ points[loop.index0][1] }}" r="{{ radius }}" title="{{ n._id }}" fill="{{ gradient(n.normalizedAverageRuling) }}" />
    {% endfor %}
    </svg>

    {% block body %}

    <!-- JavaScript at the bottom for fast page loading -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
    <script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
    <script src="https://d3js.org/d3-timer.v1.min.js"></script>
    <script src="https://d3js.org/d3-force.v1.min.js"></script>
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block js %}{% endblock %}
    <!-- end scripts -->
    {% endblock %}
  </body>
</html>

