
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}

      Liar

      {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome4/css/font-awesome.min.css') }}">

    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block css %}{% endblock %}

  </head>
  <body class="{% block body_class %}{% endblock %}">
    <svg  width="100%" height="100%" viewbox="{{ viewbox }}">
      <defs>
        {% for n in nodes %}
          {% set node = nodes[n] %}
          <radialGradient id="{{ n | slugify}}" xmlns:xlink="http://www.w3.org/1999/xlink" >
            {# <stop id="default-liar" offset="0%" stop-color="{{ colors[0] }}" /> #}

            {% for i in range(5) %}
              <stop offset="{{ (((node.rulings[:i+1]|sum) / node.numberOfRulings) * 100) - 0.5 }}%" stop-color="{{ colors[i] }}" />
              <stop offset="{{ (((node.rulings[:i+1]|sum) / node.numberOfRulings) * 100) + 0.5 }}%" stop-color="{{ colors[i] }}" />
            {% endfor %}

            <stop offset="100%" stop-color="{{ colors[5] }}" />
          </radialGradient>
        {% endfor %}
      </defs>

      {% for e in edges %}
        <line
          id="edge-{{ e.a._id | slugify }}-{{ e.b._id | slugify }}"
          class="edge {{e.a._id | slugify}} {{ e.b._id | slugify }}"
          data-subjecta="{{ e.a._id }}"
          data-subjectb="{{ e.b._id }}"
          x1="{{ e.a.x }}"
          y1="{{ e.a.y }}"
          x2="{{ e.b.x }}"
          y2="{{ e.b.y }}"
        />
      {% endfor %}

      {% for n in nodes %}
        {% set node = nodes[n] %}
        <circle
          id="node-{{ n | slugify }}"
          class="subject {{n | slugify}}"
          data-subject="{{ n }}"
          data-subjectslug="{{ n | slugify }}"
          data-rulings="{{ node.rulings|join(',') }}"
          cx="{{ node.x }}"
          cy="{{ node.y }}"
          data-defaultfill="{{ gradient(node.normalizedAverageRuling) }}"
          r="{{ node.radius }}"
          title="{{ n }}"
          fill="{{ gradient(node.normalizedAverageRuling) }}"
        />
      {% endfor %}


    </svg>

    {% block body %}

    <header>
      <h1>Liar</h1>
      <h2 class="small">Are Politicians Fireproof?</h2>
    </header>
    {% block content %}{% endblock %}

    <footer>
      <h1>About</h1>
    </footer>



    <!-- JavaScript at the bottom for fast page loading -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
    <script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
    <script src="https://d3js.org/d3-timer.v1.min.js"></script>
    <script src="https://d3js.org/d3-force.v1.min.js"></script>
    <script src="https://d3js.org/d3-ease.v1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block js %}{% endblock %}
    <!-- end scripts -->
    {% endblock %}
  </body>
</html>

