
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block page_title %}

      Liar

      {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome4/css/font-awesome.min.css') }}">
    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block css %}{% endblock %}

  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
    {% with form=form  %}
    {% include "nav.html" %}
    {% endwith %}

    <header>{% block header %}{% endblock %}</header>
    {% block content %}{% endblock %}

    {% include "footer.html" %}

    <!-- JavaScript at the bottom for fast page loading -->
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block js %}{% endblock %}
    <!-- end scripts -->
    {% endblock %}
  </body>
</html>

